*{
    margin:0; 
    padding:0;
    font-family: Merriweather Sans;
    box-sizing: border-box;
}

body
{
    background-color: #D2C465;
}

#wrapper
{
    max-width: 1000px;
    margin:0 auto;
    background-color: white;
}

#obrazek1
{
    width: 100%;
    display: block;
}
nav
{
    overflow: hidden;
}
a.menu
{
    display: block;
    float:left; 
    width: 25%;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: aquamarine;
}

a.menu:hover
{
    background-color: tomato;
    cursor: pointer;
}
#aktywne
{
    background-color: tomato;
}
article
{
    margin-top: 30px;
    margin-bottom: 20px;
}
article h1
{
    font-size: 20px;
    text-align: center;
    margin: 0 20% 20px 20%;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
#programista
{
    float: left;
    padding: 0 10px 0 10px;
    width: 25%;

}

article p
{
    text-align: justify;
    line-height: 18px;
    padding: 15px;
}
iframe
{
    width: 100%;
}
footer
{
    height: 40px;
    background-color: grey;
    color:cornsilk;
    line-height: 40px;
    text-align: center;
    margin-top: -4px;
}