:root{
    --czerwony: crimson;
    --ciemny: #1b1b1b;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--czerwony);
    background: linear-gradient(var(--ciemny), var(--czerwony));
    overflow:hidden;
    color: white;
}
.container{
    max-width: 1200px;
    max-height: 80vh;
    display: flex;
    background: rgba(0,0,0,0.30);
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding:32px 92px;
    overflow: auto;


}
.logo{
    width: 150px;
    margin-top: 20px;
    margin-right: 100px;
}
.logo img{
    width: 100%;
}
.gitimg{
    position: absolute;
}
.gitimg--zjazd{
    top: 0%;
    right: 60%;
    width: 10%;

    animation: zjazd 3s linear infinite;
}
button{
    font-size: 42px;
    width: 350px;
    font-weight: 700;
    margin-top: 20px;
    padding: 15px 0;
    color: white;
    background-color: rgba(129, 18, 40, 0.479);
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: crimson;
}
.gitimg--obrocik{
    top: 10%;
    right: 15%;
    width: 30%;
    animation: obrot 3s linear infinite;
}
.gitimg--lewo{
    top: 10%;
    right: 75%;
    width: 50%;
    opacity: 0.25;
}
h1{
    font-size: 48px;
    padding: 24px 0 12px
}
p{
    font-size: 20px;
    font-weight: 400;
}
a{
    color: crimson;
    text-decoration: none;
    position: relative;
}
header{
    flex: 1;
}
a:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: crimson;
    position: absolute;
    top:100%;
    left:0%;
    background: linear-gradient(90deg, transparent, crimson);
    transition: width 0.3s;
}
a:hover:after{
    width: 100%;
}
@keyframes zjazd{
    from{transform: translateY(-20vh)}
    to {transform: translateY(100vh)}
}
@keyframes obrot{
    from{transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}