*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-size: auto;
    color: RGB(40,46,120);
}
#wrapper
{
    max-width: 1000px;
    margin: 10px auto;
    background-color: white;
    
}
#logo
{
    float: left;
}
nav
{
    overflow: hidden;
}
a.menu
{
    color: RGB(40,46,120);
    display: block;
    float: right;
    width: 8,5%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;

}
#podswietlone{
    color: rgb(0, 0, 197);
    border-radius: 5px;
    border-color: rgb(0, 0, 197);
    border-style: solid;
    border: 2px solid;
}
#podswietlone:hover{
    background-color:rgb(0, 0, 197);
    color: white;
}

#info{
    display: block;
    float: left;
    color: white;
    background-color: RGB(40,46,120);
    padding: 10px;
    text-decoration: none;
}
#nawigacja2
{
    background-color: RGB(40,46,120);
}
a.sociale
{
    color: RGB(40,46,120);
    display: block;
    float: right;
    width: 8,5%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: RGB(40,46,120);
}
#udostepnij
{

    width: 8,5%;
    padding: 10px;
    float: right;
    color: white;
    background-color: RGB(40,46,120);
}
#naglowek{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 300%;
    
}
#tekstgora
{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 150%;
}
#autor
{
    border-radius: 100px;
    border: 3px solid blue;
}
#loga
{
    max-height: 17px;
}
ul
{
    width: 50%;
    margin: auto;
    padding: 30px;

}
li
{
    font-size: 20px;
    list-style-type: square;
    padding: 5px;
    
}
#futer1
{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color:  RGB(40,20,120);
    width: auto;
    height: 480px;

}
#wstepniak
{
    margin-top: 10px;
    padding-top: 10%;
}
footer p
{
    font-size: 30px;
    padding-top: 30px;
    margin: 30px;
    color: white;
    
}
a.przycisk
{
    font-size: 20px;
    margin: 30px;
    text-decoration: none;
    border: 20px solid rgb(34, 161, 34);
    border-radius: 20px;
    background-color: rgb(34, 161, 34);
}
a.przycisk:hover
{
    color: white;
}
#chlopy
{
    float: right;
    padding: 0 10px 0 10px;
    width: 50%;
    background-color:  RGB(40,20,120);
}

